* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    color: #241b00;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar {
    background-color: #fbbf24;
    font-family: "Roboto", sans-serif;
    align-items: center;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 2rem !important;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.navbar-brand.mx-auto {
    display: block;
}

.navbar-nav {
    display: flex;
    align-items: center; 
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-icons {
    display: flex;
    align-items: center; 
    margin-left: auto; 
    height: 100%;
}

.navbar-icons a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #241b00;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-icons i {
    font-size: 1.4rem;
    color: #241b00;
    margin-top: -15px; 
}

.dropdown-menu {
    background-color: #fbbf24 !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f59e0b;
    color: white;
}

/* ----------------------- */
/* ------main categorias------ */
.category-card-main {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card-main h3 {
    text-transform: uppercase; 
    font-weight: bold; 
}

.category-card-main:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.category-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* cards de productos */

#productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    padding-left: 50px;  
    padding-right: 50px;
}

#productos-destacados-grid {
    padding: 80px;
    margin-top: -75px;
}

#productos-destacados {
    margin-bottom: 0; 
}

.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 300px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    flex-grow: 1;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #241b00;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-category {
    display: none;
}

#productos-destacados p {
    display: none;
}

.card-price {
    font-size: 1rem;
    font-weight: bold;
    color: #241b00;
    text-align: center;
}

.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px 8px 8px;
}

.card-buttons input::-webkit-outer-spin-button,
.card-buttons input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card-buttons .btn,
.card-buttons button,
.card-buttons a {
    font-size: 0.85rem;
    padding: 6px 12px;
    background-color: #fbbf24;
    color: #241b00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.card-buttons a {
    background-color: #fbbf24;
    color: #241b00;
    width: 100%;
    padding: 10px 12px;
}

.card-buttons button {
    font-size: 0.9rem;
    width: 50px;
    margin: 0 6px;
    text-align: center;
    padding: 8px;
}

.card-buttons input {
    width: 25%;
    padding: 6px;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.card-buttons .btn:hover,
.card-buttons button:hover {
    background-color: #f59e0b;
}

.card-buttons a:hover {
    color: #241b00;
}

#titulo-productos2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #241b00;
    padding-top: 20px;
    text-transform: uppercase;
}

#productos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    margin-bottom: 40px;
}

/* ------form ingresar------ */
.login-section {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fbbf24;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    color: #241b00;
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 16px;
    color: #241b00;
    font-family: "Host Grotesk", sans-serif;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border-color: #f59e0b;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-forgot label {
    font-size: 14px;
    color: #241b00;
}

.remember-forgot a {
    font-size: 14px;
    color: #241b00;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.boton-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-buttons h3 {
    font-size: 16px;
    color: #241b00;
    margin-bottom: 5px;
}

.social-buttons {
    margin-top: 20px;
    text-align: center;
}

.social-buttons button {
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 32px;
    height: 32px;
}

.social-buttons button:hover {
    background-color: #f59e0b;
}

.create-account {
    text-align: center;
    margin-top: 5px;
}

.create-account p {
    font-size: 14px;
    color: #241b00;
}

.create-account a {
    color: #241b00;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

.password-container input {
    width: 100%;
}

.terminos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    color: #870000;
    font-size: 0.9rem;
    text-align: center;
}

.error1 {
    color: #870000;
    font-size: 0.9rem;
}

.terminos label {
    font-size: 1rem;
    color: #241b00;
    cursor: pointer;
    margin-left: 5px;
}


/* -------contacto------ */
.contact {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -75px;
}

.contact h2 {
    text-transform: uppercase; 
font-weight: bold;
}

.contact form {
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fbbf24;
    margin-bottom: 30px;
}

.contact form label {
    font-weight: bold;
    font-size: 18px;
}

.contact form input,
.contact form textarea {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
}

.contact form textarea {
    min-height: 100px;
}

.contact form button {
    max-width: 200px;
    align-self: center;
}

.contact form input:focus,
.contact form textarea:focus {
    border-color: #f59e0b;
    outline: none;
}

/* restablecer contra */
.restablecer {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fbbf24;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.restablecer h2 {
    text-align: center;
    color: #241b00;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.restablecer p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.restablecer form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}

.restablecer label {
    font-size: 16px;
    color: #241b00;
    margin-bottom: 2px;
}

.restablecer input[type="email"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.restablecer input:focus {
    border-color: #f59e0b;
}

.boton-reestablecer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: white;
    color: #241b00;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    padding: 10px;
    box-sizing: border-box;
}

.restablecer a {
    color: #241b00;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

.restablecer a:hover {
    text-decoration: none;
}

.restablecer .volver-login {
    text-align: center;
    margin-top: 20px;
}

/* -------footer------ */
footer {
    background-color: #fbbf24;
    color: #241b00;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    margin-top: auto;
}

footer p {
    font-size: 1rem;
    margin: 0;
    flex: 1;
}

footer .d-flex {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

footer .d-flex a {
    color: #241b00;
    font-size: 1.5rem;
}


/* carrito */
/* .cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cart-content {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.cart-content h3 {
    margin-bottom: 20px;
}

#cart-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#cart-total {
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: #fbbf24;
    color: #241b00;
    border-radius: 5px;
}
button:hover {
    background-color: #e89e11;
} */



/* --------------modo oscuro-------------- */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* navbar */
body.dark-mode .navbar {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode .navbar .navbar-brand,
body.dark-mode .navbar .nav-link,
body.dark-mode .navbar .navbar-toggler-icon {
    color: #e0e0e0;
}

body.dark-mode .navbar .navbar-toggler-icon {
    background-color: #e0e0e0;
}

/* dropdown menu */
body.dark-mode .navbar .dropdown-menu {
    background-color: #333 !important;
}

body.dark-mode .navbar .dropdown-item {
    color: #e0e0e0;
}

body.dark-mode .navbar .dropdown-item:hover {
    background-color: #555;
    color: #e0e0e0;
}

/* cards */
body.dark-mode .featured-card {
    background-color: #222;
}

body.dark-mode .card-body {
    background-color: #222;
    color: #e0e0e0;
}

body.dark-mode #titulo-productos2 {
    color: white;  
  }

  body.dark-mode .card-price {
    color: black;
  }

/* botones de las cards */
body.dark-mode .btn {
    background-color: #444 !important;
    color: #e0e0e0 !important;
    border: 1px solid #555;
}

/* footer */
body.dark-mode footer {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2);
}

/* form CONTACTO */
body.dark-mode .contact form {
    background-color: #333;
}

body.dark-mode .contact form input,
body.dark-mode .contact form textarea {
    background-color: #444;
    color: #e0e0e0;
    border: 1px solid #555;
}

body.dark-mode .contact form label {
    color: #e0e0e0;
}

body.dark-mode .contact form input:focus,
body.dark-mode .contact form textarea:focus {
    border-color: #e0e0e0;
    outline: none;
}

/* login y registro */
body.dark-mode .login-section {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode p {
    color: #e0e0e0;
}

body.dark-mode .remember-forgot a,
body.dark-mode .create-account a {
    color: #e0e0e0;
}

body.dark-mode .social-buttons h3 {
    color: #e0e0e0;
}

body.dark-mode .form-group label,
body.dark-mode .remember-forgot label {
    color: #e0e0e0;
}

body.dark-mode input,
body.dark-mode textarea {
    background-color: #444;
    color: #e0e0e0;
    border: 1px solid #555;
}

body.dark-mode .terminos label {
    color: #e0e0e0;
}

/* iconos */
body.dark-mode i {
    color: #e0e0e0 !important;
}

body.dark-mode #carouselImg1 {
    content: url('../img/carousel/homedark.jpg');
}

body.dark-mode #carouselImg2 {
    content: url('../img/carousel/cuotasdark.jpg');
}

body.dark-mode #carouselImg3 {
    content: url('../img/carousel/enviosdark.jpg');
}

body.dark-mode #categoria1 {
    content: url('../img/categorias/perrosdark.jpg');
}

body.dark-mode #categoria2 {
    content: url('../img/categorias/gatosdark.jpg');
}

body.dark-mode #categoria3 {
    content: url('../img/categorias/avesdark.jpg');
}

body.dark-mode #categoria4 {
    content: url('../img/categorias/pecesdark.jpg');
}

body.dark-mode #categoria5 {
    content: url('../img/categorias/otrosdark.jpg');
}

body.dark-mode #logodark {
    content: url('../img/logodark.png');
}

body.dark-mode .restablecer {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode .restablecer h2 {
    color: #e0e0e0;
}

body.dark-mode .restablecer p {
    color: #e0e0e0;
}

body.dark-mode .restablecer label {
    color: #e0e0e0;
}

body.dark-mode .restablecer input[type="email"] {
    background-color: #444;
    color: #e0e0e0;
    border: 1px solid #555;
}

body.dark-mode .restablecer input:focus {
    border-color: #e0e0e0;
}

body.dark-mode .restablecer a {
    color: #e0e0e0;
}

body.dark-mode .restablecer a:hover {
    text-decoration: underline;
}

body.dark-mode .contact form label,
body.dark-mode .login-section .form-group label,
body.dark-mode .register-section .form-group label {
    color: #e0e0e0;
}

body.dark-mode .contact form input:focus,
body.dark-mode .contact form textarea:focus,
body.dark-mode .login-section input:focus,
body.dark-mode .login-section textarea:focus,
body.dark-mode .register-section input:focus,
body.dark-mode .register-section textarea:focus {
    border-color: #e0e0e0;
    outline: none;
}

body.dark-mode .contact form button[type="submit"],
body.dark-mode .login-section button[type="submit"],
body.dark-mode .register-section button[type="submit"] {
    background-color: white; 
    color: black; 
    border: 1px solid #555; 
}


body.dark-mode .social-buttons button {
    background-color: #e0e0e0; 
}

body.dark-mode .social-buttons button:hover {
    background-color: #555; 
}

body.dark-mode .social-buttons button i {
    color: #121212 !important;  
}

body.dark-mode .social-buttons button:hover i {
    color: white !important;  
}





/* Se oculta el logo en pantallas pequeñas */
@media (max-width: 991px) {
    .navbar-brand.mx-auto {
        display: none;
        /* El logo se oculta en pantallas pequeñas */
    }
}

/* Se oculta el icono de lupa y muestra el input de búsqueda en pantallas pequeñas */
@media (max-width: 991px) {
    .navbar-icons .fa-magnifying-glass {
        display: none;
        /* Se oculta el icono de lupa en pantallas pequeñas */
    }

    .navbar-search {
        display: block;
        /* Muestra el input de búsqueda */
        position: absolute;
        left: 50%;
        /* Centra el input de búsqueda */
        transform: translateX(-50%);
        /* Ajusta el centrado */
        width: 80%;
        /* Ajustamos el tamaño del input */
        top: 15px;
        /* Ajustamos la posición */
    }

    /* Asegurarse de que los iconos se mantengan a la derecha incluso en pantallas pequeñas */
    .navbar-icons {
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        /* Asegura que los iconos se alineen horizontalmente */
        align-items: center;
        /* Alinea los iconos verticalmente */
    }

    .navbar-icons a {
        color: #e0e0e0;
        font-size: 1.5rem;
    }

    .navbar-nav {
        text-align: left;
    }
}

/* En pantallas grandes, el icono de lupa está presente y el input se oculta */
@media (min-width: 992px) {
    .navbar-search {
        display: none;
        /* Se oculta el input de búsqueda */
    }

    .navbar-icons .fa-magnifying-glass {
        display: inline-block;
        /* Se muestra el icono de lupa */
    }

    .navbar-icons {
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        /* Alinea los iconos a la derecha */
        align-items: center;
    }

    .navbar-icons a {
        color: #e0e0e0;
        font-size: 1.5rem;
    }
}